* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

/*------------------------header------------------------*/
div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

header div p {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}

header div .centrar {
    display: flex;
    align-items: center;
   /* paddig: 5% 10%;*/
}

form button {
    height: auto;
    width: 30px;
    border: none;
}

form button i #search {
    height: 30px;
    width: 30px;
    color: white;
}

header {
    background-color: #EAC926;
}

/*header div #centrar {
    width: 30%;

} */
header div.logo {
    width: 20%;
    margin-right: 10px;
    height: auto;
}

header .form {
    /*padding: 2px;*/
    font-size: 11px;
    margin-right: 10px;
    border-radius: 4px;

}
input {
    width: 100%;
    height: 100%;
    border-color: white;
    color: hsl(285, 22%, 96%);
    background-color: white;
    border-radius: 3PX;
    BORDER: none;
    font-size: 14px;
}

header form {
    display: flex;
    flex-direction: row;
    outline: none;
    color: white;
    padding: 1px;
    height: auto;
    background-color: #FFF;
    max-width: 70%;
}


header nav {
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 1;
}

header nav ul li {
    display: flex;
    flex-direction: row;
    margin: 3%;
    font-size: 16px;
}

ul.ssite {
    display: flex;
    justify-content: flex-end;
    
}
 ul.site{
    display:flex;
    justify-content: flex-start;
    
}


header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}



div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/*----------------------------------main--------------------------------*/
div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

article:hover .description {
    display: block;
}


section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -15px;

}

main section article i:hover {
    animation: willy 5s infinite;

}

@keyframes willy {
    0% {
        opacity: 25%
    }

    25% {
        transform: rotate(-90deg);
        opacity: 100%
    }

    100% {
        opacity: 100%
    }
}

main section h3 {
    margin: 20px 0px;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

form {
    background-color: #dfdede;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 20px;

    background-color: #ebebeb;
}
/*---------------------diseño de login y register-----------------*/

main input {
    width: 100%;
    height: 30px;
    border-color: white;
    color: hsl(285, 22%, 96%);
    background-color: white;
    margin-bottom: 15px;
    border-radius: 3PX;
    BORDER: none;
    font-size: 14px;
}
main form label{
        font-size: 14px;
        display: flex;
        justify-content: left;
        width: 100%;
}
main form h4{
    display: flex;
    justify-content: left;
    width: 100%;
}
form div.profile{
    display: flex;
    flex-direction: row;
    margin:10px;
    font-size:12px ;
    width:70%;
    justify-content: flex-start;
}
form div.interests{
    display: flex;
    flex-direction: column;
    margin:10px;
    font-size:12px ;
    width:70%;
    justify-content: flex-start;
}


 .check{
    display: inline-flex;
    flex-direction: row;
    margin:10px;
    width:40%;
    justify-content: flex-start;

 }

.botton {
    size: 50px;
    color: #f0f0f1;
    background-color: white;
    border: none;
}

.botton:hover {
    transition-property;
    background-color: #0022AA;
    transition-duration: 3s;
}

/*----------------------------footer--------------------------------*/

footer {
    text-align: center;
    background-color: white;

}

footer section {
    margin-right: 10px;
    margin-bottom: 10px;
}

footer section i {
    font-size: 2em;
    margin-top: 10px;
    color: #1259c3;
    text-align: center;
}

#colorcambiante:hover {
    transition-property;
    color: #25ca1f;
    transition-duration: 1s;
}

article .description:hover {
    display: block;
    transition-duration: 2s;
}

/* MEDIA QUERY PARA CELULAR*/

@media (max-width: 361px) {
    header nav {
        display: none;
    }

    /*
    main section article h4 {
        display: none;
    }
    header div p{
        justify-content: center;
    }*/
}

/* MEDIA QUERY PARA TABLET*/


@media (min-width: 361px) {
    /* _____________header__________*/

    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .top-header {
        display: block
    }

    header div.logo {
        width: 20%;
    }

    header form {
        width: 50%;
    }

    header div.centrar {
        width:25%;

    }
   /* nav {
        display: flex;
        flex-wrap: wrap;
    }*/

    ul {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin: 5px;
        border-left: 10px;

    }

    nav ul .ssite {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
    }


    /*  __________main____________*/



    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }



    div.burger-menu {
        display: none;
    }

}

/* MEDIA QUERY PARA DESKTOP*/

@media (min-width: 769px) {
    /*_________________________header_________________________*/

    .top-header {
        justify-content: space-between;
    }

    header div.logo {
        width: 15%;
    }

    header form {
        width: 45%;
    }

    header div.centrar {
        width: 30%;
        display: flex;
        align-items: center;
    }


    /*___________________________main____________________________*/

    main section div.products article {
        width: 22%;
    }

    .burger-menu {
        display: none;
    }

    nav ul .ssite {
        align-items: end;
    }

    h4 .description {
        display: none;
    }

    /*________footeer________*/

    footer {
        display: flex;
        flex-direction: row;

    }

    footer section {
        display: block;
        width: 30%;
        align-items: center;
    }

}